#moon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 1rem 1rem 0 0 yellow;
    position: fixed;
    top: 60%;
    left: calc(50% - 3.75rem);
}

#star {
    margin: 0.5rem 0;
    position: fixed;
    top: calc(65% - 0.3rem);
    left: calc(50% - 1.95rem);
    display: block;
    color: yellow;
    width: 0;
    height: 0;
    border-right: 1rem solid transparent;
    border-bottom: 0.7rem solid yellow;
    border-left: 1rem solid transparent;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);

    -webkit-animation: flash 1.5s infinite, track-x 7s ease, track-y 7s cubic-bezier(0.2, 0.81, 0.75, 0.13);
    animation: flash 1.5s infinite, track-x 7s ease, track-y 7s cubic-bezier(0.2, 0.81, 0.75, 0.13);
}

#star:before {
    border-bottom: 0.8rem solid yellow;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45rem;
    left: -0.65rem;
    display: block;
    content: '';
    transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
}

#star:after {
    position: absolute;
    display: block;
    color: yellow;
    top: 0.03rem;
    left: -1.05rem;
    width: 0;
    height: 0;
    border-right: 1rem solid transparent;
    border-bottom: 0.7rem solid yellow;
    border-left: 1rem solid transparent;
    transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    content: '';
}

@-webkit-keyframes flash {
    0% {opacity: 0.5;}
    35% {opacity: 0.9;}
    65% {opacity: 0.7;}
    100% {opacity: 1;}
}

@keyframes flash {
    0% {opacity: 0.5;}
    35% {opacity: 0.9;}
    65% {opacity: 0.7;}
    100% {opacity: 1;}
}

@-webkit-keyframes track-y {
    0% {top: 1rem;}
    15% {top: 10%;}
    30% {top: 24%;}
    45% {top: 38%;}
    60% {top: 47%;}
    80% {top: 55%;}
    90% {top: 60%;}
    100% {top: calc(65% - 0.3rem);}
}

@keyframes track-y {
    0% {top: 1rem;}
    15% {top: 10%;}
    30% {top: 24%;}
    45% {top: 38%;}
    60% {top: 47%;}
    80% {top: 55%;}
    90% {top: 60%;}
    100% {top: calc(65% - 0.3rem);}
}

@-webkit-keyframes track-x {
    0% {left: 1rem;}
    15% {left: 80%;}
    30% {left: 15%;}
    45% {left: 70%;}
    60% {left: 25%;}
    80% {left: 55%;}
    90% {left: 35%;}
    100% {left: calc(50% - 1.95rem);}
}

@keyframes track-x {
    0% {left: 1rem;}
    15% {left: 80%;}
    30% {left: 15%;}
    45% {left: 70%;}
    60% {left: 25%;}
    80% {left: 55%;}
    90% {left: 35%;}
    100% {left: calc(50% - 1.95rem);}
}

#gift {
    position: relative;
    top: 70%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1rem auto;

    width: 100px;
    height: 100px;
    border-radius: 2px 2px 4px 4px / 2px 2px 16px 16px;
    background:
        linear-gradient(to top, transparent 0px, rgba(255,255,255,.3)),
        linear-gradient(to top, transparent 0px, rgba(255,255,255,.3)),
        linear-gradient(to top, transparent 0px, rgba(255,255,255,.35)),
        linear-gradient(to top, rgba(0,0,0,0.4) 0px, rgba(0,0,0,.1)),
        linear-gradient(to top, transparent 70px, rgba(0,0,0,0.6) 80px),
        linear-gradient(to top, transparent 70px, rgba(0,0,0,0.6) 80px),
        linear-gradient(
            to right,
            #338833 0px,
            #33BB33 34px, #FF0000 34px,
            #FF0000 36px, #FFFF00 36px,
            #FFFF00 38px, #FF0000 38px,
            #FF0000 62px, #FFFF00 62px,
            #FFFF00 64px, #FF0000 64px,
            #FF0000 66px, #33BB33 66px,
            #338833 100px
        ),
        linear-gradient(
            to right,
            #338833 0px,
            #33BB33 32px, #FF0000 32px,
            #FF0000 34px, #FFFF00 34px,
            #FFFF00 36px, #FF0000 36px,
            #FF0000 60px, #FFFF00 60px,
            #FFFF00 62px, #FF0000 62px,
            #FF0000 64px, #33BB33 64px,
            #338833 100px
        );
    background-size:
        34px 5px,
        36px 5px,
        32px 20px,
        96px 80px,
        32px 80px,
        32px 80px,
        100px 20px,
        96px 80px;
    background-position:
        0px 0px,
        66px 0px,
        34px 0px,
        2px 20px,
        2px 20px,
        66px 20px,
        0px 0px,
        2px 20px;
    background-repeat: no-repeat;
    box-shadow: 
        0px 20px 40px -18px rgba(0,0,0,0.25),
        0px -20px 15px -10px rgba(0,0,0,0.2);
}

#gift:before {
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    content: '';
    top: -105px;
    left: -20px;
    z-index: -1;
    width: 32px;
    height: 40px;
    border-radius: 10px 5px 0px 0px;
    box-shadow: inset -4px 5px 10px rgba(255,255,255,0.5);
    background: 
        linear-gradient(
            to right,
            transparent 0px, #FF0000 0px,
            #FF0000 2px, #FFFF00 2px,
            #FFFF00 4px, #FF0000 4px,
            #FF0000 28px, #FFFF00 28px,
            #FFFF00 30px, #FF0000 30px,
            #FF0000 32px, transparent 32px
        );
    background-size: 32px 40px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    transform: rotateZ(-30deg) scale(0.8, 1);
    -webkit-transform: rotateZ(-30deg) scale(0.8, 1);
}
  
#gift:after {
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    content: '';
    top: -90px;
    right: -20px;
    z-index: -1;
    width: 32px;
    height: 40px;
    border-radius: 5px 10px 0px 0px;
    box-shadow: 
        inset -5px 5px 10px rgba(255,255,255,0.5),
        0 0 20px rgba(0,0,0,0.5);
    background: 
        linear-gradient(
            to right,
            transparent 0px, #FF0000 0px,
            #FF0000 2px, #FFFF00 2px,
            #FFFF00 4px, #FF0000 4px,
            #FF0000 28px, #FFFF00 28px,
            #FFFF00 30px, #FF0000 30px,
            #FF0000 32px, transparent 32px
        );
    background-size: 32px 40px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    transform: rotateZ(25deg) scale(0.75, 1);
    -webkit-transform: rotateZ(25deg) scale(0.75, 1);
}
