#song-video {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50vh, -50vw) rotate(270deg) translate(-50vh, 50vw);
    transform: translate(-50vh, -50vw) rotate(270deg) translate(-50vh, 50vw);
    width: 100vh;
    height: 100vw;
}

