.parts {
    display: none;
}

.parts-container {
    width: 90%;
    position: relative;
    margin: auto;
    flex-direction: column;
}

.left, .right {
    cursor: pointer;
    top: 50%;
    margin-top: -1.5rem;
    border: 0;
    outline: 0;
    padding: 1rem;
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    user-select: none;
}

.right {
    right: 0;
}

.left:active, .right:active {
    background-color: rgba(0,0,0,0.5);
}

.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slide-bar {
    margin: 1rem auto 0;
    text-align: center;
}

.parts.active {
    display: block;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}
