.project {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50vh, -50vw) rotate(270deg) translate(-50vh, 50vw) rotateY(180deg);
    width: 100vh;
    height: 100vw;
}

#video {
    z-index: -1;
}

.remove {
    display: none;
}

.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
}

#debug {
    display: none;
}

.image {
    width: 80%;
}

.parts {
    display: block;
    margin: auto;
}

.parts-container {
    width: 100%;
    flex-direction: column;
}

.guide-container {
    width: 100%;
    flex-direction: column;
}

.start-container {
    width: 100%;
    flex-direction: column;
}
