.project {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50vh, -50vw) rotate(270deg) translate(-50vh, 50vw) rotateY(180deg);
    width: 100vh;
    height: 100vw;
}

.page {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 45%, rgba(0,0,0,0.8) 55%, rgba(0,0,0,1) 100%);
}

.gold-text {
    margin: auto;
    text-align: center;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(135deg, rgba(255,255,255,0.75) 0%, rgba(255,215,0, 1) 50%, rgba(255,255,255,0.75) 100%);
    font-size: 10vh;
}

#video {
    z-index: -1;
}

.remove {
    display: none;
}

.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
}

#debug {
    display: none;
}

.image {
    width: 80%;
    display: block;
    margin: auto;
}

.parts {
}

.parts-container {
    width: 100%;
    flex-direction: column;
}

.guide-container {
    width: 100%;
    flex-direction: column;
}

.start-container {
    width: 100%;
    flex-direction: column;
}
