.base {
    display: none;
}

.base.active {
    display: block;
    position: relative;
    -webkit-animation-name: slide-in;
    -webkit-animation-duration: 1.5s;
    animation-name: slide-in;
    animation-duration: 1.5s;
}

@-webkit-keyframes slide-in {
    from {
        opacity: 0.4;
        -webkit-transform: scaleX(0);
        left: -50%;
    }
    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
    }
}

@keyframes slide-in {
    from {
        opacity: 0.4;
        transform: scaleX(0);
        left: -50%;
    }
    to {
        opacity: 1;
        transform: scaleX(1);
        left: 0;
    }
}

